@charset "utf-8";

.topbanner{ width: 100%; height: 119px; overflow: hidden;}


.topCon{width: 1024px; height:auto; overflow:hidden; margin: 0 auto; padding-top: 50px; position: relative;}
.logo{ float:left; width:24%; padding-top:10px;}
.slogan{ float:left; width:58%; margin-left: 3%; margin-top: 0.5%;}
.time{ width:12%; float:right; margin-top:11%; margin-right:0%; text-align: center; position: relative;}
.time span{color: #ffffff; font-size: 22px; font-family: '微软雅黑'; line-height: 25px;}
.zsgn{ width:27%; height:auto; overflow:hidden;position: relative;float:right; right:1%;margin-top:-1%;}
.zsgn .yhm{ width:49%; float:left;}
.zsgn .yhm span{font-size:13px; color:#FFF; float:left;line-height:24px;}
.zsgn .mima{width:49%; float:right;}
.zsgn .mima span{font-size:13px; color:#FFF; float:left;line-height:24px;}

.ipt-txt{line-height:12px;border-width:1px;border-style:solid;border-color:#666 #BBB #BBB #666;font-size:12px; padding:2px;}
.btn-1{width:56px;height:23px;border:none;background:url(../images/comm-bt.gif) no-repeat;line-height:23px;letter-spacing:1px;
	cursor:pointer;overflow:hidden;color:#585858; float:left; margin-top:8px;}
.zszh{font-size:13px; margin-top:10px; float:left; margin-left:14px; color:#FFF;}
.zszh hover{ color:#F00;}

/*******************首页轮播样式***************/
.main,.bottomMid{/*width: 1024px;*/ width: 1200px; margin: 0 auto;}
.banner{
    width: 1200px;
    height: 459px;
    margin: 0 auto;
    overflow: hidden;
}

.con{ width: 100%; margin: 0 auto; margin-top: 1.5%;overflow: hidden; z-index: 10;}

/*.left{ float: left; width:62%; height:auto; overflow:hidden; padding:1.5%; background-color:#ffffff;}*/
.leftCon{float: left;width: 48%;}
.leftCon_1{float: right; width: 49%;}
.roll{ width:100%;}

.showPics{width:800px; margin: 0 auto; margin-top:2%; overflow: hidden;}
.showPic{float:left;width:233px;height:130px; margin-right: 21px;margin-top:20px;overflow:hidden;position:relative;}
.showPic img{width:100%;height:100%;}
.showPic span{width:100%;height:22px;position:absolute;left:0;bottom: 0;color:#fff;text-align:left; margin-left:15px;z-index:999;}
.showPic_txt{ width: 100%;height: 25px;line-height: 25px;padding-left: 16px;text-align: left; position: absolute;
    left:0;bottom: 0; background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity: 0.6;background-color: #000;color: #ffffff;}

.mod-title{ margin-bottom:15px;}
.mod-title small{ float: right;}
.mod-title small a{ color: #999; font-size: 12px;}
.mod-title small a:hover{ color: #008cd6;}

#notice .carousel-inner{ height:258px;}
#notice .item{ height:100%;}
#notice img{height: 100%; width:100%;}
#notice .carousel-caption{ left:0; right:0; top:0; bottom:0; padding:25px; background: rgba(0,0,0,.5)}
#notice .carousel-caption h3{line-height: 26px; font-weight: normal;}
#notice .left,#notice .right{ z-index: 100;}
.announce,.announce ul{
    width: 100%;
    overflow: hidden;

}
.announce ul li{
    width: 100%;
    height: 55px;
    line-height: 55px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.announce ul li a{
    text-decoration: none;
    float: left;
    width: 240px;
    height: 100%;
    margin-left: 80px;
    color: #666666;
}

.announce ul li a:hover{
    color: #008cd6;
}
.announce_time{
    color: #fff;
    float: left;
    width: 80px;
    height: 100%;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.8%;
    text-align: center;
    background-color: #008cd6;
}
.announce_time_index{
    color: #fff;
    float: left;
    width: 68px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    background-color: #008cd6;
}
/*右边的*/
.right_arrow1{
    float: right;
    width: 16px;
    height: 30px;
    margin-top: 13px;
    margin-right: 12px;
    background: url(../img/right_arrow1.png) no-repeat center top;
}
.right_arrow2{
    float: right;
    width: 16px;
    height: 30px;
    margin-top: 16px;
    margin-right: 12px;
    background: url(../img/right_arrow1.png) no-repeat center top;
}
.announce_time span{
    color: #ffffff;
}




.countdown{width: 360px;height: 140px; margin: 0 auto; background-color: #f57507; overflow: hidden; padding-top: 10px;padding-bottom: 8px;}
.countdown div{ text-align: center;}
.timecount{ width: 92%; margin: 0 auto;margin-top: 1%;}
.digit{width: 255px;height: 88px;margin: 0 auto; line-height: 108px; background: url(../img/rili.png) top center no-repeat;}
.digit span{font-size: 48px; color: #fffe01; letter-spacing: 8px; margin-left: -19px;}
.digit_1{ margin-left: 9%;}

.countrs{width: 360px;height: 122px; margin: 0 auto; background-color:#09F; overflow: hidden; padding-top: 10px;padding-bottom: 8px;}
.countrs h2{ font-size:28px; font-weight:bold; color:#FFF; margin-top:30px;}

.entry,.signUp{
    width: 360px;
    margin: 0 auto;
    margin-top: 4.5%;
    cursor: pointer;
}


.numCheck,.scoreCheck{
    position: relative;
    display: none;
}
.num_check{
    position: absolute;
    width: 188px;
    height: 56px;
    left: 20%;
    bottom: 9%;
}
.score_check{
    position: absolute;
    width: 222px;
    height: 58px;
    left: 7%;
    top: 38%;
}




.VolApc{
    float: left;
    cursor: pointer;
}
.MediaApc{
    float: right;
    cursor: pointer;
}
.tiao{
    width: 111%;height:20px;margin: 0 auto;margin-top: 4%;margin-left:-5.5%;background-color: #e9e9e9;
}

/*赞助商*/
.sponsor{width:90%;margin: 0 auto;margin-top: 1.5%; padding: 1.5% 5%; background-color:#ffffff;}

.top_partners,.official_sponsor{
    float: left;
    width: 175px;
    margin-left: 44px;
}
.top_partners{
    margin-left: 12%;
}


.shrink {
    margin-left: 40px;
}
.sponsorPic_top {
    margin-top: 55px;
    margin-bottom: 60px;
    margin-left: -50px;
}
.margin_left {
    margin-left: -50px;
}
.sponsorPic_topr {
    margin-top: 47px;
    margin-left: 63px;
}
.title_spon {
    float: left;
    width: 53%;
}
.cut_off {
    height: 130px;
    float: left;
    border-left: 2px solid #b7b7b7;
    margin-top: 55px;
}

.sponsorPic{
    width:173px;
    height:136px;
    overflow: hidden;
}
.sponsorPic_1{
    width: 125px;
    height: 50px;
    margin: 0 auto;
    margin-top: 11%;
}
.sponsorPic_2{
    float: left;
    margin-top: 3%;
    margin-left: 7%;
}
.sponsorPic_3{
    float: left;
    width: 125px;
    height: 50px;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;

}
.official_partners{
    float: left;
    width: 46%;
}
.official_supplier{
    float: left;
    width: 63%;
    margin-left: 10%;
}


/*赛事新闻*/
.tourNews{
    width: 100%;
    margin-top: 1%;
}
.tourNews ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tourNews ul li{
    width: 100%;
    height: 180px;
    margin-top: 2.5%;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
.newsPic{
    float: left;
    width: 275px;
    height: 160px;
    overflow: hidden;
}
.newsPic img{
    width:100%;
    height:100%;
}
.newsPic img{
    height: 220px;
}
.newsCon{
    width: 60%;
    height: 145px;
    float: right;
    line-height: 25px;
    padding-top: 2%;
}

.news_title a{
    color: #666666;
    font-size: 20px;
}
.news_title a:hover{
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}



.news_content{
    text-indent: 2em;
    color: #999999;
}
.details_btn{
    float: right;
    width: 88px;
    height: 30px;
    line-height: 30px;
    margin-top: 0%;
    text-align: center;
    color: #999999;
    border: 1px solid #d1d1d1;
}
.details_btn a{
    color: #999999;
}
.details_btn a:hover{
    text-decoration: none;
}
/*////媒体中心*/
.regist{
    width: 100%;
    margin-top: 5%;
}
.mediaApl,.volApl{
    width: 350px;
    height: 302px;
    float: left;
    cursor: pointer;
}
.download{
    width: 350px;
    height: 300px;
    float: right;
    position: relative;
    background: url(../images/downBack.jpg) top center no-repeat;
}
.download a:hover{
    text-decoration: none;
}
.materialDown{
    width: 100%;
    left:0;
    bottom: 0;
    position: absolute;

}
.notebook{
    float: left;
    width: 125px;
    height: 45px;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 21px;
    background-color: #fff;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    filter:alpha(opacity=60);
    border-radius: 5px;
    padding-top: 1.5%;
    /*color: #0074b7;*/
    color: #103271;
    cursor: pointer;
}
.notebook:hover{
    color: #0074b7;
    background-color: rgba(255,255,255,0.9);
    filter:alpha(opacity=90);
}

/*///媒体报名*/
.material{
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}
.material_title{
    width: 24%;
    float: left;
    text-align: right;
}
.inputCon{
    float: left;
    width: 62%;
    height: 36px;
    margin-top: 15px;
    margin-left: 2%;
    padding-left: 1.5%;
    font-size: 16px;
    background: none;
    border: none;
    border: 1px solid #d1d1d1;
}
.tcdPageCode ul{
    display: inline-block;
}
.tcdPageCode li{
    float:left;
    margin-left:5px;
}
.thisclass{
    display: inline-block;
    height: 28px;
    line-height: 25px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    vertical-align: middle;
}
.thisclass a{
    color:#fff;
    border:none;
}
.material .sex{
    float: left;
    width: 23%;
}
.material label,.material label{

    padding: 5%;
    border: 1px solid #d1d1d1;
}
.material .sex_famale{
    margin-left: 1%;
}
.cardPic{
    float: left;
    width: 30%;
    height: 148px;
    text-align: right;
    position: relative;
    background: url(../images/certificatePic_09.jpg) top right no-repeat;
}
.cardPic img{
    width: 100%;
    height: 100%;

}
.IDPic{
    float: left;
    width: 54%;
    height: 148px;
    text-align: right;
    position: relative;
    background: url(../images/certificatePic_11.jpg) top right no-repeat;
}
.IDPic img{
    width: 100%;
    height: 100%;
}

.submit_btn{
    width: 150px;
    height: 40px;
    margin-top: 4%;
    background: none;
    border: none;
    background-color: #0174b7;
    color: #ffffff;
    font-size: 16px;
}
.submit_btn:hover{
    background-color: #018cdd;
}

.thisclass{
    width: 30px;
}
.tcdPageCode ul li a:hover{
    color: #428bca;
}
.thisclass a{
    color: #ffffff;
}
.thisclass a:hover{
    color: #ffffff !important;
}

/*////文章上一页和下一页样式*/
.alink{
    line-height: 26px;
    text-align: left;
}
.alink a{
    color: #008ed7;
}
.witnessHanma a img{
    cursor: pointer;
}
.mask,.mask1{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    background-color: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 999;
    display: none;
}


/**************************二维码*************************************/
.qrCode{width:100px;height:140px;position:fixed;top:40%;right:0.4%;z-index: 1000;}
.qrCode1{width:82px;height:104px;position:fixed;top:59%;right:1%;z-index: 999;}


/*其他的logo链接*/
.friend_link,.friend_link_1{
    width: 10%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 29%;
    z-index: 10;
    cursor: pointer;
}
.friend_link a,.friend_link_1 a{
    display: block;
    width: 100%;
    height: 100%;
}
.friend_link_1{
    left: 40%;
}




/*//响应式样式增加*/
.menuCon_Tel{
    display: none;
}

.right_Tel{
    display: none;
}
.material_Tel{
    display: none;
}
.material_PC{
    display: block;
}
.picBtnLeft .bd li .pic{
    height: 459px;
    overflow: hidden;
}

/****************加入参赛项目内容*************************/

.left4{ width:1020px; height:auto; overflow:hidden; margin-top:30px; margin:0px auto;}
.xmgz{ width:300px; height:360px; float:left; margin-right:30px; border:1px solid #CCC; margin-bottom:20px; background:#FFF; padding:4px;}
.xmgz img{ width:300px; height:170px;}
.xmgz h4{ font-size:16px; margin-top:10px; margin-bottom:10px;color:#333;}
.xmgz h4 a{ color:#333;}
.xmgz .xmlx{ font-size:12px; color:#999; margin-bottom:10px;}
.xmgz .xmlx span{ font-weight:bold; color:#333;}
.xmgz p{ font-size:12px; line-height:25px;}
.xmgz p a{ color:#F00;}



